#contact-form {
   background-color:rgba(72,72,72,0.7);
   width: 100%;
   padding: 4px 20px 2px 20px;
   border-radius:7px;
   -webkit-border-radius:7px;
   -moz-border-radius:7px;
}
#contact-form .widget-title{
    color: #FFF;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

#contact-form input { 
   width:100%;
   background: #fff;
   border: 0; 
   -moz-border-radius: 4px;  
   -webkit-border-radius: 4px;  
   border-radius: 4px;
   margin-bottom: 17px;  
   padding: 5px;  
}  
#contact-form input:focus {  
   background-color: #E5E6E7; 
}  
#contact-form input[type="submit"] {
   cursor:pointer;
   width:100%;
   border:none;
   background:#2ecc71;
   background-image:linear-gradient(bottom, #27ae60 0%, #2ecc71 52%);
   background-image:-moz-linear-gradient(bottom, #27ae60 0%, #2ecc71 52%);
   background-image:-webkit-linear-gradient(bottom, #27ae60 0%, #2ecc71 52%);
   color:#FFF;
   margin:0 0 5px;
   padding:10px;
   border-radius:5px;
}
#contact-form input[type="submit"]:hover {
   background-image:linear-gradient(bottom, #ecf0f1 0%, #bdc3c7 52%);
   background-image:-moz-linear-gradient(bottom, #ecf0f1 0%, #bdc3c7 52%);
   background-image:-webkit-linear-gradient(bottom, #ecf0f1 0%, #bdc3c7 52%);
   -webkit-transition:background 0.3s ease-in-out;
   -moz-transition:background 0.3s ease-in-out;
   transition:background-color 0.3s ease-in-out;
}